body {
  color:#32CD32;
  background-image: url(fon.png);
  font-size: 20pt;
  margin :0;
     }
Ol {
font-size: 20pt;
color :#00FF00;
margin-left: 20px;
   }
H1 {
font-size :40pt;
color :#32CD32;
text-align: center;
   }
header
 {
  width:100%; 
  background-color: azure;
  padding: 0%; 
  height:120px;
  margin: 0%;
}
#img
{
  float:left; 
  margin:10px; 
  width:100px;; 
  height:100px; 
}
#name
{
  color: #00FF00; 
  padding: 10px;
  font-size: 40px;
  margin: 0px;
}
nav{
  max-width:960px; 
  background-color:lightgray; 
  margin: 0 auto; 
  margin-top:20px; 
  padding:10px;
  text-align: center;
}
#h
{
  margin-left: 170px;
  float: left;
}

#m
{
  margin-right: 170px;
  float: right;
}


footer
{
  width:100%; 
  background-color: azure;
  padding: 10px; 
  height:120px;
}
#foot
{
    margin: 50px;
}
.block
{
  max-width: 960px;
  margin: 0 auto; 
  text-align: justify;
}
a 
{ 
    text-decoration: none;
}
.cell
{
  background-color: hsl(56, 90%, 73%);
  color:white;
}
.celld
{
  background-color: hsl(103, 89%, 72%);
  color:white;
}

table{
  border: 1px solid rgb(15, 175, 29);
  border-collapse: collapse;
}

td, th{
  border: 1px solid ghostwhite;
  text-align: center;
}



